@media only screen and (max-width: 768px){
    #search-form{
        margin-bottom: 30px;
        margin-top: 20px;
        position: relative;
        /* left: -20px; */
        right: 20px;
    }
}

@media only screen and (max-width: 500px){
    #top_nav{
        padding: 0;
    }
}

@media only screen and (max-width: 1300px){
    #banner-text h1{
        font-size: 50px;
      }

      #banner-text p{
        font-size: 27px;
      }

      #banner{
        padding-bottom: 75px;
      }
}


@media only screen and (max-width: 900px){
    #banner-text h1{
        font-size: 40px;
    }
    #banner-img img{
        padding-top: 70px;
     }
     #banner{
        height: 600px;
     }
     /* #banner{
        padding-bottom: 100px;
      } */
}

@media only screen and (max-width: 900px){
    #service-img{
        padding-top: 10%;
        
    }
}
@media only screen and (max-width: 1024px){
   .container-fluid{
    width: 100%;
   }

}

@media only screen and (max-width: 1150px){
    #footer-search-box{
        max-width: 200px;
    }
}


@media only screen and (max-width: 768px){
    #footer-search-box{
        max-width: 120px;
    }
}

@media only screen and (max-width: 500px){
    #footer-search-box{
        max-width: 200px;
    }
    
    #footer{
        padding-top: 10px;
    }
    #footer h4{
        padding-top: 50px;
    }
}